<div class="container" id="main">
      <div id="intro" class="col-md-4">

        <header>
          <div class="content text-center wow fadeIn">

            <a href="index.html">
              <img class="brand wow zoomIn" id="profile-pic" alt="Paul Laros" height="160" width="140" src="img/avatar.png">
            </a>

            <h1>Cesar</h1>
            <p>Movie lover to the max. I love a good laugh, good story or a fast-paced action film.</p>
            <p>
              <a href="#open" class="toggle-fullscreen btn btn-default btn-outline btn-lg wow tada hidden-xs hidden-sm">Blog</a> 
              <a href="about.html" class="btn btn-outline btn-default btn-lg">About</a>
              <a href="contact.html" class="btn btn-outline btn-default btn-lg">Contact</a>
            </p>
          </div>
        </header>

      </div><!-- /#intro -->

      <div id="content" class="col-md-8">
          <div role="tabpanel">

            <!-- Nav tabs -->
          

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active wow" id="posts">
                
                <section class="post featured wow fadeIn">
                  <header>
                    <h2 class="title">
                      <h2>My Favorite Movies</h2>
                    </h2>
                    
                  </header>
     <!--  -->
              <div role="tabpanel" class="tab-pane wow" id="collections">
                
                <section class="collections">
                  <div class="row">
                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/dirtyprettythings.jpg" class="img-responsive" />
                        <div class="caption">
                          <h3>Thriller</h3>
                          <span class="btn btn-lg btn-outline btn-default">8 out 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/blackswan.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Drama</h3>
                        <span class="btn btn-lg btn-outline btn-default">9 out of 10</span>
                        </div>
                      </a>
                    </div>


                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/american-beauty.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Drama</h3>
                        <span class="btn btn-lg btn-outline btn-default">10 out of 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/JohnWick.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Action</h3>
                        <span class="btn btn-lg btn-outline btn-default">8 out of 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/melancholia.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Sci-Fi</h3>
                        <span class="btn btn-lg btn-outline btn-default">7.5 out of 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/sleeplessinseattle.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Rom-Com</h3>
                        <span class="btn btn-lg btn-outline btn-default">8 out of 10</span>
                        </div>
                      </a>
                    </div>


                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/mi5.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Action</h3>
                        <span class="btn btn-lg btn-outline btn-default">7 out of 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/true_romance.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Action</h3>
                        <span class="btn btn-lg btn-outline btn-default">10 out of 10</span>
                        </div>
                      </a>
                    </div>

                    <div class="collection col-sm-4 col-xs-6">
                      <a class="content text-center" href="/reviews">
                        <img src="img/collections/zoolander.jpg" class="img-responsive" />
                        <div class="caption">
                        <h3>Comedy</h3>
                        <span class="btn btn-lg btn-outline btn-default">7 out of 10</span>
                        </div>
                      </a>
                    </div>


                  </div>
                </section>

              </div>
            </div><!-- /.tab-content -->
          </div><!-- /tabpanel -->

      </div><!-- /#content -->
    </div><!-- /#main -->