<div class="container" id="main">
      <div id="intro" class="col-md-4">

        <header>
          <div class="content text-center wow fadeIn">

            <a href="index.html">
              <img class="brand wow zoomIn" alt="Paul Laros" height="160" width="160" src="img/avatar.png">
            </a>

            <h1>Cesar</h1>
            <p>Movie lover to the max. I love a good laugh, good story or a fast-paced action film</p>
            <p>
              <a href="#open" class="toggle-fullscreen btn btn-default btn-outline btn-lg wow tada hidden-xs hidden-sm">Blog</a> 
              <a href="about.html" class="btn btn-outline btn-default btn-lg">About</a>
              <a href="contact.html" class="btn btn-outline btn-default btn-lg">Contact</a>
            </p>
          </div>
        </header>

      </div><!-- /#intro -->

      <div id="content" class="col-md-8">
      <div id="content" class="col-md-8 col-md-offset-4">
          
        <header class="content-head">
          <h3>Author: Cesar Laros</h3>
        </header>

        <div id="posts">
          <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

          <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">Once upon a time</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Life</a> ● <a class="date" href="date.html">March 12, 2015</a>
              </p>
            </footer>
          </section>

          <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">Small step for a men</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Work</a> ● <a class="date" href="date.html">February 18, 2015</a>
              </p>
            </footer>
          </section>

          <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">When you reach the top</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Life</a> ● <a class="date" href="date.html">February 3, 2015</a>
              </p>
            </footer>
          </section>

             <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

             <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

             <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

             <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

             <section class="post wow fadeIn">
            <header>
              <h2 class="title">
                <a href="single.html">One day in the forest</a>
              </h2>
              
            </header>
            <div class="description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Paul Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>
           </body>
</html>
        </div>