<div class="container" id="main">
      <div id="intro" class="col-md-4">

        <header>
          <div class="content text-center wow fadeIn">

            <a href="index.html">
              <img class="brand wow zoomIn" id="avatar" alt="Paul Laros" height="160" width="140" src="img/avatar.png">
            </a>

            <h1>Cesar</h1>
            <p>Movie lover to the max. I love a good laugh, good story or a fast-paced action film</p>
            <p>
              <a href="#open" class="toggle-fullscreen btn btn-default btn-outline btn-lg wow tada hidden-xs hidden-sm">Blog</a> 
              <a href="about.html" class="btn btn-outline btn-default btn-lg">About</a>
              <a href="contact.html" class="btn btn-outline btn-default btn-lg">Contact</a>
            </p>
          </div>
        </header>

      </div><!-- /#intro -->

      <div id="content" class="col-md-8">
      <div class="col-md-12">
          
        <header class="content-head">
          <h3>My Reviews</h3>
        </header>

        <div id="posts">
          <a href="http://www.imdb.com/title/tt0169547/">
            <img src="img/collections/american-beauty.jpg"  height="100" width="80">
          </a>
          <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="http://www.imdb.com/title/tt0169547/">American Beauty</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                And there were a lot of great ones this year. I will also say something even (possibly) bolder--that Kevin Spacey gives the performance of his career. And all us movie geeks know that is saying a LOT, given this man's past roles, and his talent. I used to think he was overrated as an actor. Then I figured OK, I see what all the fuss is about. Now, he's up there with my favorite actors of all time, with James Woods, Steve Buscemi, Robert Deniro...probably in the top 5. 
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>
          <a href="http://www.foxsearchlight.com/blackswan/"> 
            <img src="img/collections/blackswan.jpg"  height="100" width="80">
          </a>
          <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="http://www.foxsearchlight.com/blackswan/">Black Swan</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                Wonderful performances and assured and audacious direction make for one of the best films of the year. Aronofsky is never afraid to take risks with the story and his unflinching direction turns out to be one of the film's greatest assets.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Life</a> ● <a class="date" href="date.html">March 12, 2015</a>
              </p>
            </footer>
          </section>
          <a href="http://www.johnwickthemovie.com/">
          <img src="img/collections/JohnWick.jpg"  height="100" width="80">
          </a>
          <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">An Action Film Worth Watching</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                Just as he did in Speed and The Matrix, Reeves has found a way to take an action genre and do it just a little bit better than everyone else.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Work</a> ● <a class="date" href="date.html">February 18, 2015</a>
              </p>
            </footer>
          </section>
          
          <a href="http://www.miramax.com/movie/dirty-pretty-things/">
            <img src="img/collections/dirtyprettythings.jpg"  height="100" width="80">
          </a>
          <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">Great Story Telling</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                Here he strikes a perfect balance between social commentary and melodrama, while nudging his actors to turn potentially stereotypical figures (eg, a virginal waif, a golden-hearted whore, a philosophical Chinese) into three-dimensional people.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Life</a> ● <a class="date" href="date.html">February 3, 2015</a>
              </p>
            </footer>
          </section>
            
            <a href="http://www.imdb.com/title/tt0108399/">
              <img src="img/collections/true_romance.jpg"  height="100" width="80">
            </a>
             <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">Top 5</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                This is one of my all time great films, great background music and super Tarrantino dialogue. Strong story line and gripping throughout. 
               The ending is unpredictable and superb. Brad Pitt, Christian Slater Gary Oldman and the other many stars give a great believable presence. 
                A must see film for gangster film lovers.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>
            
           <a href="http://www.missionimpossible.com/">
            <img src="img/collections/mi5.jpg"  height="100" width="80">
           </a>
             <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">Blockbuster beats the stereotype</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                Rogue Nation is a blockbuster that expertly combines exhilarating visual thrills with the kind of intricate storyline that requires viewers to pay attention. It also treads a nice line between the drama and the humour.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>
            
            <img src="img/collections/sleeplessinseattle.jpg"  height="100" width="80">
             <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">So what if I am a romantic</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                like this one, a 10 is all you can do. Tom is great, Meg the woman plays the woman's role like nobody else could have.....If I get tears in a movie, the movie is a m o v i e ........touching. Thank you folks who did it, the folks who wrote this wonderful story. Am I sentimental? Yess. And it feels good. 
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

            <img src="img/collections/zoolander.jpg"  height="100" width="80">
             <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">Zoolander is Stupid Funny</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
                Derek Zoolander is stupid. So is his movie. But by no means, is Zoolander humorless. Directed by and starring Ben Stiller, Zoolander is a very funny movie, if you know what to expect. Based on a character that Stiller created for the 1996 VH1 Fashion Awards, Derek Zoolander was originally intended to satirize the fashion industry. The movie does no less and as a result, has received some very negative patron reviews. Audiences went into Zoolander expecting another Ben Stiller, Meet the Parents-type comedy, and when they got an offbeat movie about the fashion industry's plot to assassinate the prime minister of Malaysia, they didn't know how to react. To enjoy Zoolander, one has to forget all expectations and see the movie for what it is supposed to be: ridiculous.
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>

            <img src="img/collections/melancholia.jpg"  height="100" width="80">
             <section class="post wow fadeIn">
            <header>
              <h3 class="title">
                <a href="single.html">Regardless of strange flaws It totally worked for me!</a>
              </h3>
              
            </header>
            <div class="description">
              <p>
               First off, let there be no doubt Melancholia is an amazing movie, a one of a kind experience. But it's also a strange movie. Strange because some parts are just so much better than others. From divine touch of genius to actually really rather bad. There are parts that are so strikingly beautiful that you can not help being mesmerized, there's superb directing resulting in amazing, almost screen transcending acting (and this is from the girl from "Bring it on" mind you), and there are parts were sound and imagery merge with such impact that you get blown away. 
              </p>
            </div>
            <footer>
              <p class="meta">
                <a class="auther" href="author.html">Cesar Laros</a> in <a class="collection" href="collection.html">Travel</a> ● <a class="date" href="date.html">April 13, 2015</a>
              </p>
            </footer>
          </section>
          </div>
           </body>
          </html>
        