
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="media">
        <div class="media-left">
          <h3 class="media-heading">{{movie.Title}}</h3>
          <img ng-src="{{movie.Poster}}" width="175">
        </div>
      </div>
      <div class="media-body">

      </div>
    </div>

    <a id="link-6" ng-href="{{movie.Website}}">Film's Website</a><br>
    <form ng-submit="searchMovie()" class="form-inline">
      <div class="form-group">
        <input type="text" ng-model="title" class="form-control" placeholder="type a movie title">
      </div>
      <button type="submit" value="Search" class="btn btn-default">Search</button>
    </form>

    {{movie.Released}}<span>{{movie.Runtime}}</span><br>
    {{movie.Awards}}<br>
    {{movie.Genre}}<br>
    {{movie.Director}}<br>
    {{movie.Writer}}<br>
    {{movie.Actors}}<br>
    {{movie.Plot}}<br>
    {{movie.Language}}<br>
    {{movie.Country}}<br>
    <hr> 


    <div class="col-md-4" ng-bind-html="trailer">
      
    </div>  
  </div>
</div>